{% extends 'base.html' %}
{% block 'main' %}		
<div class="position-relative my-2">
	<div class="fiveg_masthead_bg"> 
	    <div class="video_overlay_container">
		    <video aria-hidden="true" class="rounded-4" tabindex="-1" playsinline="" autoplay="" loop="" muted="" width="100%" height="100%" poster="https://jep-asset.akamaized.net/jiostaticresources/v05/images/5g/masthead.png">
		    <source id="firstSectionVideo" src="https://jep-asset.akamaized.net/jiostaticresources/video/true-5g-banner-v3-040723-desk.mp4" type="video/mp4"> 
	        </video>
	    </div> 	
    </div>
</div>
<div class="text-center mt-2" style="position: absolute;top: 230px;left: 550px;">
	<span class="">
		<img src="https://jep-asset.akamaized.net/jiostaticresources/v05/images/5g/true5g.svg" alt="High Speed 5G Connectivity" width="200px " height="60px ">
	</span>			
   <div class="fw-bolder fs-1 text-light">
      Step into your 5G future
   </div>
   <div class="fw-bolder fs-5 text-light">
      True 5G is here to unlock the limitless era<br> of digital possibilities for you.
   </div> 
</div>
{% endblock %}