{% extends 'base.html' %}
{% block 'main' %}

<div class="row text-center p-4">
    <h1 class="text-primary">About Us</h1><br><br><br><br>
    <div class="shadow border mb-4 py-2 rounded-5 bg-warning">
        <h2 class="text-success" style="font-size: 30px;font-weight: 700;">Our Mission</h2>
        <p class="fw-bolder">Reliance Jio promises to shape the future of India by providing end-to-end digital solutions for businesses, <br> 
            institutions and households and seamlessly bridging the rural-urban divide.</p>
    </div>
<br><br><br><br>
    <div class="shadow border rounded-5 py-2 bg-warning">
        <h2 class="text-success" style="font-size: 30px;font-weight: 700;">Our Vision</h2>
    <p class="fw-bolder">Reliances vision for India is that broadband and digital services will no longer be a luxury item. <br>
         Rather, Reliance envisions an India where these are basic necessities to be consumed in abundance <br>
          by consumers and small businesses alike, as much in far-flung villages as in our largest cities. <br> 
          The initiatives are truly aligned with the Government of India's Digital India vision for our nation.</p>
    </div>

</div>

{% endblock 'main' %}