{% extends 'base.html' %}
{% block 'main' %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="mt-5">
                <h5>Address</h5><hr>
                    <strong>Country</strong>
                    <p>India</p>
                    <strong>Address</strong>
                    <p>3nd Floor, FORTUNE-2000, 3nd Floor, G Block BKC, Bandra Kurla Complex, Bandra East, Mumbai, Maharashtra 400051</p>                            
                    <strong>Phone Number</strong>
                    <p>18008969999</p>
                    <strong>Website</strong>
                    <p>www.jio.com</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="m-4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3872561.575674946!2d68.85681152343744!3d18.583124844215888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c93faccf388f%3A0x586894c7d982800d!2sReliance%20Jio%20Infocomm%20Limited!5e0!3m2!1sen!2sin!4v1706444242414!5m2!1sen!2sin" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock 'main' %}